<html>
<body>
    <h3>Titanic Prediction Form</h3>

<div>
  <form action="/result" method="POST">
    <label for="age">Age</label>
    <input type="text" id="age" name="age">
    <br>
    <label for="Sex">Sex</label>
    <select id="Sex" name="Sex">
      <option value="0">Male</option>
      <option value="1">Female</option>
    </select>
    <br>
	<label for="age">Fare</label>
    <input type="text" id="age" name="Fare">
    <br>
    <label for="class">Pclass</label>
    <select id="class" name="class">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>